::ng-deep {
  .tab-pane {
    padding: 0rem !important;
  }
}
.icon-add {
  font-size: 22px;
  color: var(--primary-color);
  cursor: pointer;
}
.table-heading {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-inline-start: 1rem;
}
