#sidebar-scroll,
.main-sidebar-header {
  background-color: var(--primary-color) !important;
}
.side-menu__label,
.side-menu__item,
.side-menu__icon {
  color: #fff !important;
}
.side-menu__item.active {
  background-color: #3e5368;
}
