<!-- app-header -->
<header class="app-header sticky" id="header">
  <!-- Start::main-header-container -->
  <div class="main-header-container container-fluid">
    <!-- Start::header-content-left -->
    <div class="header-content-left">
      <!-- Start::header-element -->
      <div class="header-element">
        <div class="horizontal-logo">
          <a [routerLink]="['/sales']" class="header-logo">
            <img
              src="./assets/images/brand-logos/desktop-logo.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="./assets/images/brand-logos/toggle-logo.png"
              alt="logo"
              class="toggle-logo"
            />
            <img
              src="./assets/images/brand-logos/desktop-dark.png"
              alt="logo"
              class="desktop-dark"
            />
            <img
              src="./assets/images/brand-logos/toggle-dark.png"
              alt="logo"
              class="toggle-dark"
            />
          </a>
        </div>
      </div>
      <!-- End::header-element -->

      <!-- Start::header-element -->
      <div class="header-element">
        <!-- Start::header-link -->
        <a
          (click)="togglesidebar()"
          aria-label="Hide Sidebar"
          class="sidemenu-toggle header-link"
          data-bs-toggle="sidebar"
          href="javascript:void(0);"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="header-link-icon menu-btn"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="header-link-icon menu-btn-close"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
            ></path>
          </svg>
        </a>
        <!-- End::header-link -->
      </div>
      <!-- End::header-element -->
    </div>
    <!-- End::header-content-left -->

    <!-- Start::header-content-right -->
    <ul class="header-content-right">
      <!-- Start::header-element -->
      <li class="header-element d-md-none d-block">
        <a
          (click)="openSm(content)"
          href="javascript:void(0);"
          class="header-link"
          data-bs-toggle="modal"
          data-bs-target="#header-responsive-search"
        >
          <!-- Start::header-link-icon -->
          <i class="bi bi-search header-link-icon"></i>
          <!-- End::header-link-icon -->
        </a>
      </li>
      <!-- End::header-element -->
      <ng-template #content let-modal>
        <div class="modal-dialog">
          <div class="modal-content border-0 p-2">
            <div class="modal-body p-0">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control border-end-0"
                  placeholder="Search Anything ..."
                  aria-label="Search Anything ..."
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon2"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Start::header-element -->
      <li class="header-element header-theme-mode">
        <!-- Start::header-link|layout-setting -->
        <a href="javascript:void(0);" class="header-link layout-setting">
          <span class="light-layout" (click)="updateTheme('dark')">
            <!-- Start::header-link-icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="header-link-icon"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none" />
              <path
                d="M108.11,28.11A96.09,96.09,0,0,0,227.89,147.89,96,96,0,1,1,108.11,28.11Z"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
            </svg>
            <!-- End::header-link-icon -->
          </span>
          <span class="dark-layout" (click)="updateTheme('light')">
            <!-- Start::header-link-icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="header-link-icon"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none" />
              <line
                x1="128"
                y1="40"
                x2="128"
                y2="32"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <circle
                cx="128"
                cy="128"
                r="56"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="64"
                y1="64"
                x2="56"
                y2="56"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="64"
                y1="192"
                x2="56"
                y2="200"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="192"
                y1="64"
                x2="200"
                y2="56"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="192"
                y1="192"
                x2="200"
                y2="200"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="40"
                y1="128"
                x2="32"
                y2="128"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="128"
                y1="216"
                x2="128"
                y2="224"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <line
                x1="216"
                y1="128"
                x2="224"
                y2="128"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
            </svg>
            <!-- End::header-link-icon -->
          </span>
        </a>
        <!-- End::header-link|layout-setting -->
      </li>
      <!-- End::header-element -->

      <!-- Start::header-element -->
      <li ngbDropdown class="header-element dropdown">
        <!-- Start::header-link|dropdown-toggle -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="header-link dropdown-toggle"
          id="mainHeaderProfile"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          <div class="d-flex align-items-center">
            <div class="me-xl-2 me-0">
              <img
                src="./assets/images/faces/2.jpg"
                alt="img"
                class="avatar avatar-sm avatar-rounded"
              />
            </div>
            <div class="d-xl-block d-none lh-1">
              <span class="fw-medium lh-1">Mr. Jack</span>
            </div>
          </div>
        </a>
        <!-- End::header-link|dropdown-toggle -->
        <ul
          ngbDropdownMenu
          class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
          aria-labelledby="mainHeaderProfile"
        >
          <li>
            <div class="py-2 px-3 text-center">
              <span class="fw-semibold"> Mr.Jack Miller </span>
              <span class="d-block fs-12 text-muted">UI/UX Designer</span>
            </div>
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              [routerLink]="['/pages/profile']"
              ><i class="ti ti-user text-primary me-2 fs-16"></i>Profile</a
            >
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              [routerLink]="['/pages/email/mailapp']"
            >
              <i class="ti ti-mail text-secondary me-2 fs-16"></i>Inbox</a
            >
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              [routerLink]="['/pages/todolist']"
              ><i class="ti ti-checklist text-success me-2 fs-16"></i>Task
              Manager</a
            >
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              [routerLink]="['/pages/email/mail-settings']"
              ><i class="ti ti-settings text-info me-2 fs-16"></i>Settings</a
            >
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              [routerLink]="['/pages/chat']"
              ><i class="ti ti-headset text-warning me-2 fs-16"></i>Support</a
            >
          </li>
          <li class="py-2 px-3">
            <a
              class="btn btn-primary btn-sm w-100"
              [routerLink]="['/authentication/sign-up/basic']"
              >Log Out</a
            >
          </li>
        </ul>
      </li>
      <!-- End::header-element -->
    </ul>
    <!-- End::header-content-right -->
  </div>
  <!-- End::main-header-container -->
</header>
<!-- /app-header -->
