<div class="card custom-card card-style-3">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-4">
          <div class="rounded-2">
            <a href="javascript:void(0);">
              <img [src]="image" alt="img" class="img-fluid bg-light w-100 rounded">
            </a>
          </div>
        </div>
        <div class="col-8">
          <div class="d-flex align-items-start justify-content-between mb-2">
            <div class="flex-grow-1">
              <div class="mb-2 d-flex align-items-start justify-content-between flex-wrap">
                <div>
                  <span [class]="stockStatusClass + ' fw-semibold mb-2'">
                    <i class="ti" [ngClass]="{'ti-circle-check-filled': stockStatus === 'In Stock', 'ti-circle-x-filled': stockStatus === 'Out Of Stock'}"></i>
                    {{stockStatus}}
                  </span>
                  <div class="d-flex align-items-baseline fs-12">
                    <div class="d-flex align-items-baseline fs-12">
                      <div class="min-w-fit-content">
                        <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
                        <span class="text-warning"><i class="bi bi-star me-1"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-baseline">
                  <h6 class="fs-20 fw-semibold mb-0">{{price}}</h6>
                  <span class="fs-13 ms-2 text-muted text-decoration-line-through">{{originalPrice}}</span>
                </div>
              </div>
              <h6 class="fs-16 mb-1 fw-semibold">
                <a [routerLink]="['/apps/ecommerce/product-details']">{{name}}</a>
              </h6>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between gap-2 mt-0">
            <a [routerLink]="['/apps/ecommerce/cart']" class="btn btn-primary-light btn-sm rounded-pill">
              <i class="ti ti-shopping-cart-plus me-1"></i> Add Cart
            </a>
          <a  [ngbTooltip]="'Wishlist'" Class="''" >
            <i class="ti ti-heart me-1 text-primary fs-18"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>