<div class="tiles-container">
  @for (tile of tiles; track tile) {
    <div class="tile">
      <!-- HEADER -->
      <div class="tile-header">
        <!-- LEFT: TITLE -->
        <span class="title">
          <!-- {{ tile | titlecase }} -->
          {{ tiletitle(tile) }}
        </span>

        <!-- RIGHT: ICON -->
        <i
          class="fa"
          [ngClass]="getIcon(tile)"
          [style.color]="getIconColor(tile)"
        >
        </i>
      </div>

      <!-- BODY -->
      <div class="tile-top">
        @if (loading()) {
          <div class="skeleton-chart"></div>
        } @else {
          <!-- CHART (LEFT) -->
          <div class="chart-section">
            <div echarts [options]="chartOptions[tile]" class="chart"></div>
          </div>

          <!-- LEGEND + COUNTS (RIGHT, KEY VALUE) -->
          <div class="details-section">
            @for (item of legendMap[tile]; track item) {
              <div class="detail-row">
                <div class="detail-key" [style.color]="item.color">
                  <span class="dot" [style.background]="item.color"></span>
                  <span>{{ item.name }}</span>
                </div>
                <div class="detail-value" [style.color]="item.color">
                  {{ item.value }}
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
