<div class="tiles-container">
  @for (tile of tiles; track tile) {
    <div class="tile">
      <!-- HEADER -->
      <div class="tile-header">
        <!-- LEFT: TITLE -->
        <span class="title">
          <!-- {{ tile | titlecase }} -->
          {{ tiletitle(tile) }}
        </span>

        <!-- RIGHT: ICON -->
        <i class="fa" [ngClass]="getIcon(tile)"> </i>
      </div>

      <!-- BODY -->
      <div class="tile-top">
        @if (loading()) {
          <div class="skeleton-chart"></div>
        } @else {
          <!-- CHART (TOP) -->
          <div class="chart-section">
            <div echarts [options]="chartOptions[tile]" class="chart"></div>
          </div>

          <!-- COUNT (BOTTOM RIGHT) -->
          <div class="count-section">
            <!-- <div class="counts">
              {{ countsMap[tile] }}
            </div> -->
            <div class="counts">
              @for (c of legendMap[tile]; track c; let i = $index) {
                <span [style.color]="c.color">
                  {{ c.value }}
                </span>

                @if (i < legendMap[tile].length - 1) {
                  <span class="separator"> / </span>
                }
              }
            </div>
          </div>
        }
      </div>

      <!-- LEGEND -->
      <div class="tile-legend">
        @for (l of legendMap[tile]; track l) {
          <div class="legend" [style.color]="l.color">
            <span class="dot" [style.background]="l.color"></span>
            {{ l.name }}
          </div>
        }
      </div>
    </div>
  }
</div>
