.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 10px;
}

.tile {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #1d4380;
}

.tile-header {
  display: flex;
  justify-content: space-between; // 🔥 main requirement
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.tile-header i {
  font-size: 16px;
  color: #1f3b73;
}
.skeleton-chart {
  height: 180px;
  border-radius: 10px;

  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);

  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

// .legend {
//   display: flex;
//   align-items: center;
//   gap: 6px;
//   font-size: 12px;
// }

// .dot {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
// }

// .tile-top {
//   display: flex;
//   flex-direction: column; // 🔥 vertical layout
// }

// /* CHART */
// .chart-section {
//   width: 70%; // 🔥 fixed 70%
//   display: flex;
//   justify-content: flex-start;
//   // height: 130px;
// }

// /* COUNT */
// .count-section {
//   // width: 100%;
//   display: flex;
//   justify-content: flex-end; // 🔥 right side
//   // margin-top: 6px;
// }

.tile-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chart-section {
  width: 70%;
  align-self: flex-start; // 🔥 LEFT ALIGN FIX
}

.count-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
// .counts {
//   font-size: 12px;
//   font-weight: bold;
//   color: #1f3b73;
// }
.counts {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.separator {
  color: #999;
  margin: 0 2px;
}

/* CHART SIZE */
.chart {
  width: 100%;
  height: 140px;
  display: block;
  left: -32px;
}

/* LEGEND WRAP */
.tile-legend {
  display: flex;
  flex-wrap: wrap; // 🔥 IMPORTANT
  gap: 8px;
  // margin-top: 10px;
}

.legend {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
}

/* DOT */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
