// src/app/shared/components/page-header/page-header.component.scss
:host {
  display: block;
  width: 100%;
  padding: 5px 12px;
  background-color: #ffffff;
  border-bottom: 2px solid #e4e8ef;
  padding-left: 4px;
  box-shadow: 9px -2px 16px #e5e4e6;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  font-size: 1.35rem;
  font-weight: 600;
  color: #1d4380;
  margin: 0;
}

.breadcrumbs {
  font-size: 0.9rem;
  color: #808080;
  font-weight: 500;
}

.breadcrumb-link {
  color: #808080;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb-separator {
  margin: 0 0.5rem;
}

.breadcrumb-current {
  color: #6c757d;
  font-weight: 500;
}

.header-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.app-sidebar__toggle {
  all: unset;
  cursor: pointer;
  &::before {
    content: "\e907";
    transition: all 0.25s;
    font-size: 21px;
    font-family: feather;
  }
}
.header-link.dropdown-toggle {
  display: flex;
  align-items: center;
}
