
    <div class="card custom-card pricing-card pricing-card1">
      <div class="card-body p-4">
        <div class="d-flex gap-3 align-items-center p-1">
          <div class="p-2 border d-inline-block border-{{bgColor}} rounded border-opacity-10 bg-{{bgColor}}-transparent">
            <span class="avatar avatar-md bg-{{bgColor}} svg-white">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#000000"
                [attr.viewBox]="'0 0 256 256'"
              >
              @for ( path of iconPaths; track $index) {
                <ng-container>
                  <path [attr.d]="path.d" [attr.opacity]="path.opacity || null"></path>
                </ng-container>
            }
              </svg>
            </span>
          </div>
          <div class="text-start">
            <h4 class="fw-medium mb-1">{{ title }}</h4>
            <span class="mb-1 text-muted d-block">{{ description }}</span>
          </div>
        </div>
        <hr class="border-top my-4">
        <div>
          <h2 class="mb-0 fw-bold d-block text-{{bgColor}}">{{ price }}/<span class="fs-12 text-{{bgColor}} fw-medium ms-1">{{ perMonth }}</span></h2>
          <span class="text-muted fs-14"><span class="text-{{bgColor}} me-2 fw-semibold">{{ additionalCost }}/</span>Person Per month</span>
        </div>
        <div class="text-center my-3 pricing-barrier">
          <span class="op-6 fs-12 px-2 py-1 border rounded-pill">{{ planType }}</span>
        </div>
        <ul class="list-unstyled pricing-body">
          <li *ngFor="let feature of features">
            <div class="d-flex align-items-center">
              <span class="avatar avatar-xs svg-primary">
                <i class="ri-check-double-line text-success fs-14"></i>
              </span>
              <span class="ms-2 my-auto flex-fill">{{ feature.name }}</span>
              <span *ngIf="feature.badge" class="badge" [ngClass]="feature.badgeClass">{{ feature.badge }}</span>
              <span *ngIf="feature.trialPeriod" class="text-muted fs-12 fw-medium">{{ feature.trialPeriod }}</span>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-lg mt-4 d-grid w-100 btn-wave waves-effect waves-light" [ngClass]="buttonClass">
          <span class="ms-4 me-4">{{ buttonText }}</span>
        </button>
      </div>
    </div>

  