.card-dispatch {
  padding: 20px;
  background-color: white;
  border-top: 10px solid var(--primary-color);
  margin-top: 10px;
  border-radius: 10px;
  border-left: 1px solid #aeaeb2;
  border-right: 1px solid #aeaeb2;
  border-bottom: 1px solid #aeaeb2;
}
.heading {
  //   border-left: 3px solid var(--primary-color);
  padding-left: 5px;
}

.required::after {
  content: " *";
  color: red;
}

/* Invalid field red border */
.is-invalid {
  border: 1px solid red !important;
}

/* Error text */
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
