<div class="card custom-card mb-3">
    <div class="card-body p-0">
      <div class="p-3 kanban-board-head">
        <div class="d-flex align-items-center justify-content-between">
          <div class="task-badges">
            <span class="badge">{{id}}</span>
            @for (badge of badges; track $index) {
            <span  class="badge ms-1">{{ badge }}</span>
            }
          </div>
          <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-icon btn-sm outline no-caret'"  [IconClass]="'fe fe-more-vertical'" [Icon]="true"  
          [Menuclass]="'dropdown-menu'"  >
          @for (action of actions; track $index) {
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="{{ action.icon }} me-1 align-middle d-inline-block"></i>{{ action.label }}
              </a>
            </li>
          }
      </spk-dropdowns>
        </div>
        <div class="kanban-content mt-2 mb-2">
          <h6 class="fw-medium mb-1 fs-15">{{ title }}</h6>
          @if (description) {
          <div class="kanban-task-description" >{{ description }}</div>
          }
          @if (image) {
          <div  class="task-image mt-2">
            <img [src]="image" class="img-fluid rounded kanban-image" alt="Task Image" />
          </div>
        }
        </div>
        <div class="mb-3">
          <p class="fs-13 fw-medium mb-2 text-muted">
            Sub Task
            <span class="float-end fs-13 fw-normal">{{ subTask.completed }}/{{ subTask.total }}</span>
          </p>
          <div class="progress progress-xs mb-0" role="progressbar">
            <div class="progress-bar progress-bar-striped" [style.width.%]="subTask.progress"></div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex gap-2">
            <a href="javascript:void(0);" class="me-2 py-0 px-2 rounded outline fs-12 d-flex align-items-center justify-content-center">
              <span class="me-1"><i class="ri-thumb-up-fill align-middle fw-normal"></i></span>
              <span class="fw-medium fs-12">{{ likes }}</span>
            </a>
            <a href="javascript:void(0);" class="py-0 px-2 rounded outline fs-12 d-flex align-items-center justify-content-center">
              <span class="me-1"><i class="ri-message-2-line align-middle fw-normal"></i></span>
              <span class="fw-medium fs-12">{{ comments }}</span>
            </a>
          </div>
          <div class="avatar-list-stacked">
            @for (avatar of avatars; track $index) {
            <span class="avatar avatar-sm avatar-rounded">
              <img [src]="avatar" alt="Avatar" />
            </span>
        }
          </div>
        </div>
      </div>
    </div>
  </div>
  