<!-- Start::page-header -->
<!-- <div
  class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2 single-page-header"
>
  <div>
    <h1 class="page-title fw-medium fs-18 mb-2">
      {{ routerEvents[routerEvents.length - 1] | titlecase }}
    </h1>
    <ol class="breadcrumb mb-0">
      @for (path of routerEvents; track path; let i = $index) {
        <li
          [ngClass]="{
            active: routerEvents.length - 1 == i,
            'custom-color': i === routerEvents.length - 1,
          }"
          class="breadcrumb-item"
        >
          <a
            [ngStyle]="{
              color: i === routerEvents.length - 1 ? '#333335' : 'defaultColor',
            }"
            href="javascript:void(0);"
          >
            {{ path | titlecase }}
          </a>
        </li>
      }
    </ol>
  </div>
  <div>
    <button
      class="btn btn-primary-light btn-wave me-2 waves-effect waves-light"
    >
      <i class="bx bx-crown align-middle"></i> Plan Upgrade
    </button>
    <button
      class="btn btn-secondary-light btn-wave me-0 waves-effect waves-light"
    >
      <i class="ri-upload-cloud-line align-middle"></i> Export Report
    </button>
  </div>
</div> -->
<!-- End::page-header -->
