.nav-tab-wrapper {
  background: #fff;
  border-radius: 0.45rem;
  padding: 0.1rem;
}

.custom-nav-tabs .nav-link {
  color: #1d4380;
  border: none;
  // border: 2px solid transparent;
  transition:
    color 0.2s,
    border-bottom 0.2s;
  font-size: 0.9rem;
  padding: 0.45rem 0.8rem;
  background: none;
  border-radius: 5px;
}

.custom-nav-tabs .nav-link.active,
.custom-nav-tabs .nav-link.active-tab {
  border-radius: 5px !important;
  border-bottom: 2px solid #3139aa;
  font-weight: 500;
  color: #fff;
  background: #1d4380;
}

.custom-nav-tabs .nav-link:hover:not(.active) {
  color: #313faa;
  background: #f3f4f9;
  transition:
    background 0.3s,
    color 0.2s;
}
.custom-nav-tabs .nav-link:not(.active) {
  border: 0.1px solid #62799e27;
}
.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #1d4380;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
}
.padded-container {
  padding: 0.4rem;
}
::ng-deep {
  .tab-content {
    .tab-pane {
      padding: 0rem !important;
    }
  }
}
