<router-outlet></router-outlet>
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" type="square-jelly-box">
  <div style="text-align: center">
   
    <p style="color: white; font-size: 20px; margin-top: 10px">
      Processing Request...
    </p>
  </div>
</ngx-spinner>
<ngx-spinner
  name="sp5"
  [fullScreen]="true"
  type="ball-spin-clockwise"
  size="medium"
  bdColor="rgba(0, 0, 0, 0.8)"
  name="component-spinner"
>
  <p style="color: white; font-size: 18px; margin-top: 10px">Loading...</p>
</ngx-spinner> -->
