<div class="container">
  <div
    class="row justify-content-center align-items-center authentication authentication-basic h-100"
  >
    <!-- test -->
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
      <div class="my-4 d-flex justify-content-center">
        <a [routerLink]="['/sales']">
          <img
            src="./assets/images/secutrak/white-logo.png"
            alt="logo"
            class="desktop-dark"
          />
        </a>
      </div>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li ngbNavItem="Angular">
          <a ngbNavLink>
            <img src="" alt="" />
          </a>
          <ng-template ngbNavContent class="mt-2">
            <form
              [formGroup]="loginForm"
              (ngSubmit)="Submit()"
              (keydown.enter)="Submit()"
            >
              <div class="text-danger">{{ error }}</div>
              <div class="col-xl-12">
                <label for="signin-UserId" class="form-label text-default"
                  >GroupId</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="signin-UserId"
                  placeholder="GroupId"
                  autocomplete
                  formControlName="GroupId"
                  required
                />
              </div>
              <div class="col-xl-12">
                <label for="signin-UserId" class="form-label text-default"
                  >User Name</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="signin-UserId"
                  placeholder="user name"
                  formControlName="UserId"
                  autocomplete
                />
              </div>
              <div class="col-xl-12 mb-2">
                <label
                  for="signin-Password"
                  class="form-label text-default d-block"
                  >Password
                  <a class="float-end text-danger">Forget Password ?</a></label
                >
                <div class="input-group">
                  <input
                    formControlName="Password"
                    autocomplete
                    [type]="showPassword ? 'text' : 'Password'"
                    class="form-control"
                    id="signin-Password"
                    placeholder="Password"
                  />
                  <button
                    class="btn btn-light"
                    type="button"
                    (click)="toggleVisibility()"
                  >
                    <i class="{{ toggleClass }} align-middle"></i>
                  </button>
                </div>
                <div class="mt-2">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                    />
                    <label
                      class="form-check-label text-muted fw-normal"
                      for="defaultCheck1"
                    >
                      Remember Password ?
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 d-grid mt-2">
                <button type="submit" class="btn btn-lg btn-primary">
                  Sign In
                </button>
              </div>
            </form>
          </ng-template>
        </li>
      </ul>
      <div class="card custom-card">
        <div class="card-body p-5">
          <p class="h4 mb-2 fw-semibold">Sign In</p>
          <p class="mb-4 text-muted fw-normal">Welcome back Jhon !</p>
          <div class="login-option"></div>
          <div class="" [ngbNavOutlet]="nav"></div>
          <div class="text-center">
            <p class="fs-12 text-muted mt-3">
              Dont have an account?
              <a [routerLink]="['/sales']" class="text-primary">Sign Up</a>
            </p>
          </div>
          <div class="text-center my-3 authentication-barrier">
            <span>OR</span>
          </div>
          <div class="btn-list text-center">
            <button class="btn btn-icon btn-light">
              <i class="ri-facebook-line fw-bold text-dark op-7"></i>
            </button>
            <button class="btn btn-icon btn-light">
              <i class="ri-google-line fw-bold text-dark op-7"></i>
            </button>
            <button class="btn btn-icon btn-light">
              <i class="ri-twitter-x-line fw-bold text-dark op-7"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
