<div class="d-flex align-items-center gap-3">
    <div class="lh-1">
        <span class="avatar avatar-lg bg-{{bgColor}}-transparent">
            <span class="avatar avatar-md bg-{{bgColor}}">
                <i class="ri-arrow-{{icon}}-line fs-20"></i>
            </span>
        </span>
    </div>
    <div class="flex-fill">
        <h4 class="fw-semibold mb-1">{{value}}</h4>
        <span class="">{{title}}</span>
    </div>
    <div class="text-end">
        <span class="d-block text-muted fs-13 mb-1">{{Status}}</span>
        <span class="badge bg-{{percentageClass}}-transparent"><i class="ti ti-arrow-{{direction}} me-1"></i>{{percentageChange}}</span>
    </div>
    </div>


