.nav-tab-wrapper {
  background: #fff;
  border-radius: 0.45rem;
  padding: 0.1rem;
}

.nav-tab-header {
  padding: 0.1rem 0.2rem 0;
}

.nav-tab-header > :first-child {
  margin-bottom: 0;
}

.custom-nav-tabs .nav-link {
  color: #1d4380;
  border: none;
  // border: 2px solid transparent;
  transition:
    color 0.2s,
    border-bottom 0.2s;
  font-size: 0.9rem;
  padding: 0.45rem 0.8rem;
  background: none;
  border-radius: 0px;
}

.custom-nav-tabs .nav-link.active,
.custom-nav-tabs .nav-link.active-tab {
  border-radius: 0.3rem 0.3rem 0 0 !important;
  border-bottom: 2px solid #3139aa;
  font-weight: 500;
  color: black;
}

.custom-nav-tabs .nav-link:hover:not(.active) {
  color: #313faa;
  background: #f3f4f9;
  transition:
    background 0.3s,
    color 0.2s;
}
.custom-nav-tabs .nav-link:not(.active) {
  // border: 0.1px solid #62799e27;
}
